services:
  # Indexer
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
      - AUTO_UPDATE=false #optional
      #- RUN_OPTS=<run options here> #optional
    volumes:
      - /opt/data-docker/media_stream/jackett/config:/config
      - /nfs/stream_data/downloads:/data/downloads
    ports:
      - "9117:9117"
    networks:
      - media-net
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
    volumes:
      - /opt/data-docker/media_stream/radarr/config:/config
      - /nfs/stream_data/videos/movies:/data/medialibrary/movies
      - /nfs/stream_data/downloads:/data/downloads
    ports:
      - "7878:7878"
    networks:
      - media-net

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
    volumes:
      - /opt/data-docker/media_stream/sonarr/config:/config
      - /nfs/stream_data/videos/tvshows:/data/medialibrary/tv #optional
      - /nfs/stream_data/downloads:/data/downloads #optional
    ports:
      - "8989:8989"
    networks:
      - media-net

  # subtitles
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
    volumes:
      - /opt/data-docker/media_stream/bazarr/config:/config
      - /nfs/stream_data/videos/movies:/data/medialibrary/movies #optional
      - /nfs/stream_data/videos/tvshows:/data/medialibrary/tv #optional
    ports:
      - "6767:6767"
    networks:
      - media-net

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
    volumes:
      - /opt/data-docker/media_stream/lidarr/config:/config
      - /nfs/stream_data/audios/music:/data/medialibrary/music #optional
      - /nfs/stream_data/downloads:/data/downloads #optional
    ports:
      - "8686:8686"
    networks:
      - media-net

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
    volumes:
      - /opt/data-docker/media_stream/prowlarr/config:/config
    ports:
      - "9696:9696"
    networks:
      - media-net
  whisparr:
    image: ghcr.io/hotio/whisparr
    container_name: whisparr
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=0022
      - TZ=America/Montreal
    volumes:
      - /opt/data-docker/media_stream/whisparr/config:/config
      - /nfs/stream_data/videos/xxx-adts:/data/medialibrary/xxx
      - /nfs/stream_data/downloads:/data/downloads #optional
    ports:
      - "6969:6969"
    networks:
      - media-net
  readarr:
    image: ghcr.io/hotio/readarr
    container_name: readarr
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=0022
      - TZ=America/Montreal
    volumes:
      - /opt/data-docker/media_stream/readarr/config:/config
      - /nfs/stream_data/books:/data/medialibrary/books
      - /nfs/stream_data/downloads:/data/downloads #optional
    ports:
      - "8787:8787"
    networks:
      - media-net
  torrserver:
    image: ghcr.io/yourok/torrserver:latest
    container_name: torrserver
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    ports:
      - "8890:8090"
    networks:
      - media-net
    environment:
      - TZ=America/Montreal
      - PUID=1000
      - PGID=1000
    volumes:
      - /nfs/stream_data/downloads/torrtorrents:/opt/ts/torrents
      - /opt/data-docker/media_stream/torrserver/config:/opt/ts/config
      - /opt/data-docker/media_stream/torrserver/log:/opt/ts/log

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
      - LOG_LEVEL=info
    ports:
      - "8191:8191"
    networks:
      - media-net
  jellyseerr:
    image: ghcr.io/hotio/jellyseerr:latest
    container_name: jellyseerr
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
      - LOG_LEVEL=info
    ports:
      - "5055:5055"
    volumes:
      - /opt/data-docker/media_stream/jellyseerr/config:/config
      - /nfs/stream_data/videos/movies:/data/medialibrary/movies
      - /nfs/stream_data/videos/tvshows:/data/medialibrary/tv #optional
      - /nfs/stream_data/downloads:/data/downloads
    networks:
      - media-net
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities:
                - gpu
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    ports:
      - 8096:8096
    volumes:
      - /opt/data-docker/media_stream/jellyfin/config:/config
      - /nfs/stream_data/caches/jellyfin:/cache
      - /nfs/stream_data:/media
    restart: unless-stopped

  lazylibrarian:
    image: lscr.io/linuxserver/lazylibrarian:latest
    container_name: lazylibrarian
    restart: unless-stopped
    ports:
      - "5299:5299"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Montreal
      - DOCKER_MODS=linuxserver/mods:universal-calibre|linuxserver/mods:lazylibrarian-ffmpeg
    volumes:
      - /opt/data-docker/media_stream/lazylibrarian/config:/config
      - /nfs/downloads/:/downloads
      - /nfs/books/:/books
    networks:
      - media-net
networks:
  media-net:
    external: true
