# wiki: https://github.com/qdm12/gluetun-wiki
## docker compose -f gluetun-docker-compose.yml --env-file=/opt/data-etc/media_stream/.gluetun.env pull
services:
  socks5:
    image: serjs/go-socks5-proxy
    container_name: serjs-socks5
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    depends_on:
      - gluetun
    environment:
      - TZ=America/Montreal
      - REQUIRE_AUTH=false
    network_mode: "service:gluetun"

  qbittorrent:
    container_name: qbittorrent
    image: ghcr.io/hotio/qbittorrent
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=022
      - TZ=America/Montreal
    network_mode: "service:gluetun"
    volumes:
      - /opt/data-docker/media_stream/qbittorrent/config:/config
      - /nfs/stream_data/downloads:/data/downloads #optional

  torrserver:
    image: ghcr.io/yourok/torrserver:latest
    container_name: torrserver
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    network_mode: "service:gluetun"
    environment:
      - TZ=America/Montreal
      - PUID=1000
      - PGID=1000
      - UMASK=022
    volumes:
      - /nfs/stream_data/downloads/torrtorrents:/opt/ts/torrents
      - /opt/data-docker/media_stream/torrserver/config:/opt/ts/config
      - /opt/data-docker/media_stream/torrserver/log:/opt/ts/log
  gluetun:
    image: "qmcgaw/gluetun"
    container_name: gluetun
    restart: unless-stopped
    privileged: true
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    cap_add:
      - NET_ADMIN
    ports:
      - "8888:8888/tcp" #proxy
      - "8000:8000/tcp"
      - "8890:8090" #torrserver
      - "8488:1080" #socks5 proxy
      - "8280:8080" #qbittorrents
    env_file: /opt/data-etc/media_stream/.gluetun.env
    environment:
      - TZ=America/Montreal
    devices:
      - /dev/net/tun:/dev/net/tun



