# Fix host resolve : https://bbs.archlinux.org/viewtopic.php?id=275976
# Disable Host Dns resolving
# sudo systemctl disable systemd-resolved.service
# sudo systemctl stop systemd-resolved.service
# sudo sed --in-place "s/^#DNSStubListener=yes$/DNSStubListener=no/g" /etc/systemd/resolved.conf
#https://pimylifeup.com/pi-hole-docker/

secrets:
  WEB_PASSWORD_SECRET:
    file: /opt/data-docker-etc/pihole/pwd.secret.txt
services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "8200:80/tcp" # this is for your dashboard
    environment:
      - WEBPASSWORD_FILE=/run/secrets/WEB_PASSWORD_SECRET
      #- DNSSEC=true
      - DNS_BOGUS_PRIV=true
      #- PIHOLE_DNS_=172.20.0.3;9.9.9.9;149.112.112.112 -> to activate quad9dns
      - PIHOLE_DNS_=172.20.0.3
      - VIRTUAL_HOST=${HOSTNAME}
      #- DNSMASQ_LISTENING=all
      # If using Docker's default `bridge` network setting the dns listening mode should be set to 'ALL'
      #- FTLCONF_dns_listeningMode='ALL'
    volumes:
      - '/opt/data-docker/pihole/etc/pihole:/etc/pihole'
      - '/opt/data-docker/pihole/etc/dnsmasq.d:/etc/dnsmasq.d'
      - '/opt/data-docker/pihole/etc/resolv.conf:/etc/resolv.conf'
      - '/opt/data-docker/pihole/var:/var/log/pihole'
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:false
    networks:
      pihole_local_network:
        ipv4_address: 172.20.0.2
    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      - NET_ADMIN
      # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
      - SYS_TIME
      # Optional, if Pi-hole should get some more processing time
      - SYS_NICE

  stubby:
    container_name: stubby
    image: carterfields/stubby
    restart: unless-stopped
    labels:
      - "com.centurylinklabs.watchtower.scope=toUpdateScope"
    volumes:
      - "/opt/data-docker/stubby/stubby.yml:/usr/local/etc/stubby/stubby.yml"
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      pihole_local_network:
        ipv4_address: 172.20.0.3 #this will be your upstream DNS server in Pi-Hole
    security_opt:
      - no-new-privileges:false

networks:
  pihole_local_network:
    external: true

